.hero {
    width: 80%;
    text-align: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
.hue1 {
    color: #87a14d;
}
.hue2 {
    color: #9c72be;
}
.hue3 {
    color: #cb6054;
}
.reason-box {
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: rgba(200, 200, 200, 0.3);
    height: 25rem;
}
.float {
    display: flex;
    justify-content: center;
    align-items: center
}
html {
    background-color: #111;
}
footer {
    text-align: center;
    position: absolute;
    width: 98%;
    bottom: 0;
}
button, button:focus, button:hover, body {
    color: #ddd
}